/* ====  Css Only Preloader Basic Styles ==== */

.preloader-area {
    background-color: #fff;
    z-index: 9999;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.preloader-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
